.idea/
.venv/
analysis/.ipynb_checkpoints/
analysis/.jupyter/
analysis/.venv/
analysis/python/**/__pycache__/
analysis/python/**/*.pyc
analysis/python/**/*.pyo
analysis/python/**/*.log
analysis/python/**/pip-delete-this-directory.txt
controlpanel/python/**/__pycache__/
controlpanel/python/**/*.pyc
controlpanel/python/**/*.pyo
controlpanel/python/**/*.log
controlpanel/python/**/pip-delete-this-directory.txt
controlpanel/server.instance.lock
.runtime_preflight.ok
__pycache__/
*.pyc
scenario/
°*
site/
