configparser
cycler
graphviz
git+https://github.com/mbraakhekke/heft.git@relative_imports_fix
kiwisolver
matplotlib
numpy
pandas
progressbar2
pyparsing
PyPDF2
python-dateutil
python-utils
pytz
pywin32
scipy
setuptools
six
