# Ignore all user parameterisation files; only track the shipped templates.
*
!.gitignore
!template.xrun
!template.yaml
!template_beek7.xrun
!template_beek7.yaml
!template_WetterfeldSlice_10d.xrun
!template_WetterfeldSlice_10d.yaml
